
:host {
    display: flex;
    padding-left: 1em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
}

:host(:hover) {
    opacity: 0.8;
} 