:host {
    display: flex;
}

:host([type="row"]) {
    flex-wrap: wrap;
    align-items: flex-start;

}

:host([type="column"]) {
    flex-direction: column;
}

:host([type="row"]) ::slotted(*) {
    flex: 1 1 auto;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    :host([type="row"]::slotted(*))  {
        flex: 1 1 auto;
        min-width: 1px;
    }
}

