
:host {
    display: flex;
    overflow: auto;
    position: fixed;
    height: calc(100vh - 3.5em);
    overflow: auto;
    visibility: hidden;
    border-right: 1px solid;
    border-color: inherit;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    z-index: 100;
}
