:host {
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
    border: 0.15em solid transparent;
    font-weight: 600;
    flex-wrap: nowrap;
    white-space: nowrap;
    line-height: 2em;
    padding: 0em 1em;
}

:host([type="flat"]) {
    border: 0px;
}

:host([type="outline"]) {
    border-color: currentColor;
}

:host([type="link"]) {
    line-height: 1em;
    padding: 0.2em;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: transparent;
}

:host([type="link"]:hover) {
    border-radius: 0px;
    border-bottom-color: currentColor;
}

:host([round="base"]:not([type="link"])) {
    border-radius: 0.2em;
}

:host([round="pill"]) {
    border-radius: 2em;
}

:host([round="fab"]) {
    line-height: 1em;
    padding: 0.33em 0.33em;
    border-radius: 2em;
}

:host(:hover:not([disabled]):not([type="link"])) ::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    opacity: 0.15;
}

:host([disabled]) {
    background-color: #dedede;
    color: #aaaaaa;
    border-color: #cccccc;
    text-shadow: currentColor;
}