
@import "color-scheme.scss";

.ui-bg-primary-light {
    background-color: #0047BB;
    color: #ffffff;
}

.ui-bg-primary-dark {
    background-color: #001E60;
    color: #ffffff;
}

.ui-bg-secondary-light {
    background-color: #48D597;
    color: #000000;
}

.ui-bg-secondary-dark {
    background-color: #097A49;
    color: #ffffff;
}

.ui-bg-success {
    background-color: #097A49;
    color: #ffffff;
}

.ui-bg-info {
    background-color: #0047BB;
    color: #ffffff;
}

.ui-bg-danger {
    background-color: #B50D12;
    color: #ffffff;
}

.ui-bg-warning {
    background-color: #A66102;
    color: #ffffff;
}

.ui-bg-base {
    background-color: #000000;
    color: #ffffff;
}

@each $name, $color in $colorscheme {
    @each $depth, $val in $color {
        .ui-bg-#{"" + $name}-#{$depth} {
            background-color: $val;
            @if $depth > 55 {
                color: #ffffff;
              } @else  {
                color: #000000;
              } 
        }
    }

}

