
:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 15em;
}

:host > ui-button {
    justify-content: flex-start;
    padding-left: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}