:host {
    display: block;
}

th {
    text-align: left;
    padding: 0.5em 0.5em;
    white-space: nowrap;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

td {
    vertical-align: top;
    padding: 1em;
    white-space: nowrap;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

table {
    width: 100%;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-spacing: 0px;
}

.options {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    background-color: #dfdfdf;
    overflow-y: auto;
    max-height: 200px;
    padding: 1em;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.fullWidth {
    width: 95%;
}
input {
    border: 2px solid #dfdfdf;
    cursor: pointer;
    padding: 0.5em 1em;
    flex: 1;
}
.prop {
    flex-direction: column;
}

.input {
    display: flex;
    width: 100%;
    padding-top: 0.25em;
}

.input > ui-button {
    margin: 0.5em;
    font-size: smaller;
}