:host {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #888;
    padding: 1em;
    overflow-y: auto;
    max-width: 25em;

}

:host > * {
    font-size: medium;
    margin-bottom: 0.5em;
}
.attrs {
    background-color: #222;
    padding: 1em;
    font-size: small;
}

.attrs > * {
    margin-bottom: 1em;
}
.input-attr > ui-input-option {
    width: 7em;
}

.float-right {
   align-self: flex-end; 
}