:host {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    line-height: 1.5em;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;
}

:host([background]) {
    padding: 0em 0.5em;
}

:host([align="left"]) {
    justify-content: flex-start;
}

:host([align="right"]) {
    justify-content: flex-end;
}

:host([align="center"]) {
    justify-content: center;
}

:host([type="underline"]) {
    border-bottom: 0.1em solid;
}

:host([type="outline"]) {
    border: 0.1em solid;
    padding: 0em 0.5em;
}