:host {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    flex-wrap: nowrap;
    align-items: center;
}

:host([background]) {
    padding: .25em 0.75em;
}

:host([align="start"]) {
    justify-content: flex-start;
}

:host([align="end"]) {
    justify-content: flex-end;
}

:host([align="middle"]) {
    justify-content: center;
}

:host([type="underline"]) {
    border-bottom: 0.1em solid;
}

:host([type="outline"]) {
    border: 0.1em solid;
    padding: 0em 0.5em;
}